<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo04</title>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <h1 class="logo"><a href="#">公司LOGO</a></h1>
            <ul class="menu">
                <li><a href="#">公司簡介</a></li>
                <li><a href="#">專業服務</a></li>
                <li><a href="#">新聞與服務</a></li>
                <li><a href="#">活動花絮</a></li>
                <li><a href="#">聯絡我們</a></li>
            </ul>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    
</body>
</html>