<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo03</title>
</head>
<body>
    <div class="wrap">
        <ul class="menu">
            <li>超便宜攝影機</li>
            <li>僅此一檔相機</li>
            <li>限時優惠冰箱</li>
            <li>超便宜電風扇</li>
        </ul>
        <div class="content">
            Deserunt ea est ullamco consequat. Culpa sit est aliquip et et dolore aliquip. Excepteur qui ea commodo velit elit nostrud reprehenderit deserunt aliqua reprehenderit cupidatat consectetur amet nisi.
            Ipsum aliqua anim et officia consectetur qui deserunt nulla veniam laborum veniam. Consequat qui aliqua cillum cupidatat occaecat. Consectetur ea culpa commodo ea pariatur reprehenderit. Aliqua dolore aute aliquip eiusmod veniam dolor esse tempor dolore velit laboris veniam occaecat excepteur. Elit dolor amet ullamco proident ullamco velit proident. Ad id commodo amet irure nisi Lorem sit irure proident id ullamco est nostrud. Irure culpa consectetur elit officia est.
        </div>
    </div>
</body>
</html>