<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo01</title>
</head>
<body>
    <div class="wrap">
        <h1>Demo 01</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, ducimus error odio possimus expedita iusto hic exercitationem culpa provident nostrum deserunt numquam similique ipsum harum rerum laudantium maiores obcaecati at.
        Praesentium, repudiandae. Facilis vel impedit officiis aspernatur ex. Perspiciatis, aut veniam. Illum sapiente reiciendis, similique autem hic error ipsum fugit blanditiis! Veritatis id fugiat quas eum facere doloremque hic totam.
        Debitis delectus iste atque, id aspernatur perspiciatis dolorum a dignissimos autem aliquid exercitationem reprehenderit aut cumque culpa repellendus neque necessitatibus alias repudiandae. Ipsum sequi natus officia vitae deleniti dolore ex.
        Numquam temporibus neque at aut deleniti eligendi, ratione fuga? Cumque itaque deserunt blanditiis, cum placeat quod voluptatum sunt doloribus quam eum. Ratione ad eveniet tempore vero nisi nemo? Dolorum, nisi?
        Temporibus ducimus magni quas veniam! Suscipit quos alias eaque sapiente incidunt sunt reprehenderit, corporis adipisci! Optio repellendus esse alias neque quisquam delectus incidunt rem commodi ut est eveniet, tempore rerum.
        Suscipit accusamus aliquam minus, itaque, adipisci ullam perspiciatis voluptate dolor, nisi distinctio sed! Quo fugit assumenda ab saepe exercitationem dicta, tempore quam illo eos asperiores, modi nesciunt commodi. Hic, beatae?
        Aliquid laboriosam placeat corporis voluptatum numquam, atque odio nam quos ab fuga mollitia ipsam repudiandae natus architecto molestias voluptates cumque qui et aspernatur est obcaecati asperiores dolor perferendis minima. Impedit!
        Odio eligendi earum, non sed sequi nihil? Earum dolorem adipisci tenetur voluptas fugit saepe delectus, tempore non nemo quae debitis in numquam distinctio provident laudantium ipsum, explicabo dignissimos magnam impedit.
        Expedita nihil hic eveniet, pariatur ad officiis velit error porro, animi, numquam maiores debitis. Atque, hic vel consequuntur magni quod reiciendis sequi facilis culpa itaque autem voluptatem magnam quaerat porro.
        Autem laboriosam maiores quis sed aliquid, neque consequatur facere! Possimus ipsam est repellendus quisquam quia magni voluptatem, eveniet, esse error velit culpa nesciunt. Totam facere porro eos quisquam illo numquam?
        Asperiores quam explicabo, porro deserunt inventore eaque neque perferendis cupiditate enim vitae tempora minima nemo rem ipsa. Nisi, quam modi asperiores rem odio officia voluptas accusantium? Necessitatibus harum debitis eum?
        Quo quis possimus soluta voluptatem recusandae sed porro vitae, cumque iure veniam minima tempora, facere necessitatibus magnam! Amet ratione eaque facilis? Fugiat commodi perferendis consectetur eius earum non dolor sapiente.
        Saepe ducimus ipsum incidunt consequuntur. Voluptate laudantium necessitatibus nihil sint maiores, optio molestiae natus dicta suscipit fugiat quibusdam vitae, porro quod labore velit officia minus. Odio nemo beatae aliquam veniam.
        Dolore impedit provident esse at nulla temporibus laboriosam libero velit quae reiciendis eius, recusandae architecto dolores dignissimos amet saepe in, tempore iusto totam repellat autem. Sit illo dolorum quaerat a!
        Sapiente dolorem nam quisquam accusantium cum necessitatibus harum vel distinctio non dignissimos et, incidunt, rem itaque beatae tempora laborum eos, natus magni fuga architecto provident libero blanditiis. Sit, odio suscipit!
        Reiciendis autem esse quibusdam possimus suscipit veniam repellendus corporis doloremque sunt repudiandae iure, omnis incidunt! Delectus voluptatem, quia officia obcaecati eum doloremque corporis voluptates accusantium nostrum, nam, perspiciatis repudiandae reprehenderit.
        Iusto voluptatibus recusandae quod eligendi reprehenderit fuga ipsam esse vitae eveniet nostrum. Cum delectus molestiae ratione facilis quo quam similique. Debitis vitae natus impedit ea aliquam asperiores provident. Corporis, sint.
        Commodi iusto sed non quo ipsa cupiditate inventore voluptates consequuntur quam, quis velit corrupti illum error dignissimos iste! Cumque soluta tenetur quas laudantium, laboriosam neque illum. Rem non nostrum accusamus!
        Sapiente nulla possimus, sunt aliquam sint excepturi quisquam autem veniam quos velit quam nam hic perspiciatis eveniet officiis, a illo! Quas quibusdam sequi perspiciatis maxime, dolore tenetur at eveniet. Aliquam!
        Possimus, ea perspiciatis. Tenetur sapiente inventore aperiam laborum cum officiis optio est fugit, maxime quae ratione quos ullam incidunt in tempora! Consequatur cupiditate exercitationem quasi eius facere corrupti accusamus porro.</p>
    </div>
    <img src="../images/duck.jpg" alt="" srcset="">
</body>
</html>