<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo02</title>
</head>
<body>
    <div class="wrap">
        <ul class="news">
            <li>
                <h2>大標題</h2>
                <p>Aliqua exercitation Lorem commodo tempor do et. Excepteur qui eu laboris duis esse eiusmod irure ipsum ullamco consectetur esse ipsum duis. Aute est excepteur consequat nostrud sint cillum duis magna laborum. Irure dolore ex deserunt aute irure cillum enim tempor tempor laborum enim proident nisi proident. Tempor aliqua do aliquip ea qui sint nulla.</p>
            </li>
            <li>
                <h2>大標題</h2>
                <p>Aliqua exercitation Lorem commodo tempor do et. Excepteur qui eu laboris duis esse eiusmod irure ipsum ullamco consectetur esse ipsum duis. Aute est excepteur consequat nostrud sint cillum duis magna laborum. Irure dolore ex deserunt aute irure cillum enim tempor tempor laborum enim proident nisi proident. Tempor aliqua do aliquip ea qui sint nulla.</p>
            </li>
            <li>
                <h2>大標題</h2>
                <p>Aliqua exercitation Lorem commodo tempor do et. Excepteur qui eu laboris duis esse eiusmod irure ipsum ullamco consectetur esse ipsum duis. Aute est excepteur consequat nostrud sint cillum duis magna laborum. Irure dolore ex deserunt aute irure cillum enim tempor tempor laborum enim proident nisi proident. Tempor aliqua do aliquip ea qui sint nulla.</p>
            </li>
            <li>
                <h2>大標題</h2>
                <p>Aliqua exercitation Lorem commodo tempor do et. Excepteur qui eu laboris duis esse eiusmod irure ipsum ullamco consectetur esse ipsum duis. Aute est excepteur consequat nostrud sint cillum duis magna laborum. Irure dolore ex deserunt aute irure cillum enim tempor tempor laborum enim proident nisi proident. Tempor aliqua do aliquip ea qui sint nulla.</p>
            </li>
            <li>
                <h2>大標題</h2>
                <p>Aliqua exercitation Lorem commodo tempor do et. Excepteur qui eu laboris duis esse eiusmod irure ipsum ullamco consectetur esse ipsum duis. Aute est excepteur consequat nostrud sint cillum duis magna laborum. Irure dolore ex deserunt aute irure cillum enim tempor tempor laborum enim proident nisi proident. Tempor aliqua do aliquip ea qui sint nulla.</p>
            </li>
            <li>
                <h2>大標題</h2>
                <p>Aliqua exercitation Lorem commodo tempor do et. Excepteur qui eu laboris duis esse eiusmod irure ipsum ullamco consectetur esse ipsum duis. Aute est excepteur consequat nostrud sint cillum duis magna laborum. Irure dolore ex deserunt aute irure cillum enim tempor tempor laborum enim proident nisi proident. Tempor aliqua do aliquip ea qui sint nulla.</p>
            </li>
            <li>
                <h2>大標題</h2>
                <p>Aliqua exercitation Lorem commodo tempor do et. Excepteur qui eu laboris duis esse eiusmod irure ipsum ullamco consectetur esse ipsum duis. Aute est excepteur consequat nostrud sint cillum duis magna laborum. Irure dolore ex deserunt aute irure cillum enim tempor tempor laborum enim proident nisi proident. Tempor aliqua do aliquip ea qui sint nulla.</p>
            </li>
        </ul>
    </div>
</body>
</html>