@import url('../css/reset.css');

.wrap{
    max-width: 800px;
    margin: 0 auto;
    .menu{
        width: 200px;
        color: blue;
        background: black;
        padding-top: 10px;
        li{
            margin-bottom: 20px;
            color: white;
        }
        float: left;
    }
    .content{
        margin-left: 210px;
        background: orange;
        color: #fff;
    }

    @media (max-width: 768px){
        .menu{
            float: none;
            width: 100%;
        }
        .content{
            margin-left: 0;
        }
    }

}